@{
    ViewData["Title"] = "Home Page";
}
<div align="center">
    <h1 class="display-4"><strong> Ethekwini Medical Practice</strong></h1>
    <div id="middle" style="width:55%;  margin: 0 auto;" align="center">
        <img src="C:\Users\Student\Documents\Website Project\DoctorAppointmentWebsite\AppointmentScheduler-574f637f59426891cf77bdd602b3444da9e6ef15\AppointmentScheduling\Content\banner.jpg" />
    </div>

    <div width: 100%>
        <div id="middle" style="width:45%;  margin: 0 auto;" align="center">
            <center>
                <!--Image goes here <img class="img-thumbnail" src="C:/Users/Ntobe/Pictures/banner.jpg"/> -->
            </center>
            <h3>Medical</h3>
            <p> Intercare medical centres focus on routine, chronic and walk-in care as well as on patient wellness.</p>
        </div>


        <div id="middle" style="width:45%; margin: 0 auto;" align="center">
            <center>
                <!--Image goes here -->
            </center>
            <h3>Virtual</h3>
            <p> A virtual consultation is a remote video conversation between a patient and a healthcare professional. </p>
        </div>


        <div id="middle" style="width: 45%; margin: 0 auto;" align="center">
            <center>
                <!--Image goes here -->
            </center>
            <h3>Sub-acute Hospitals</h3>
            <p>
                Sub-Acute care is a comprehensive inpatient programme for patients who have suffered
                an acute event as a result of an illness, injury or disease.
            </p>
        </div>

        <div id="middle" style="width: 45%; margin: 0 auto;" align="center">
            <center>
                <!--Image goes here -->
            </center>
            <h3>Day Hospitals</h3>
            <p>
                Sub-Acute care is a comprehensive inpatient programme for patients who have suffered an
                acute event as a result of an illness, injury or disease.
            </p>
        </div>

        <div id="middle" style="width: 45%; margin: 0 auto;" align="center">
            <center>
                <!--Image goes here -->
            </center>
            <h3>Dental</h3>
            <p>Intercare dental centres offers a full range of routine and specialized dental services.</p>
        </div>

        <div id="middle" style="width: 45%; margin: 0 auto;" align="center">
            <center>
                <!--Image goes here -->
            </center>
            <h3>Diabetes</h3>
            <p>
                Getting diabetes self-management education and support, taking medicine as needed
                and keeping health care appointments can reduce the impact of diabetes.
            </p>
        </div>
    </div>
</div>

