@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div> <h1> About <strong>Dr Michael Lamula</strong> </h1> </div>


<div class="row">
    <div class="col">
        <center>
           <!--Insert Image-->
        </center>
    </div>
</div>

<div><img src="~/Content/Screenshot(38).png" ; width="200" height="200" /> </div>

<p><h3>After completing his medical degree at the University of the Free State in 1988 followed by his internship in 1990, Dr Micheal Lamula went on to specialise in Paediatrics. Again through the University of the Free State, after working as a register at the Universitas Academic Hospital, Dr Lamula became a Specialist Paediatrician with a Masters in the field, in 1994.</h3> </p>

<div style="float:left; width: 45%;">
    ><p><h3>Dr Lamula then worked in private practice in Potchefstroom, while training interns and medical officers in the Neonatal Intensive Care Unit (NICU), Paediatric ICU and Paediatric Ward until he moved his practice to Pietermaritzburg in 2008. Since 2008 he has also been the principal investigator in international research in the paediatric field</h3></p>.
</div><p>
    <h3>
        In 2014 he pursued his MSc in Medicine in Child Health Neurodevelopment at the University of Witwatersrand. While completing this qualification, Dr Lamula worked for the University of Kwazulu Natal in 2016, running the tutorials for the 5th year medical students. It was in 2017 that Dr Lamula became the Senior Specialist at specialized neurodevelopmental state clinics, Greys and Edendale hospital.
    </h3>
</p>
      <div style="Float:left" >
          <p><h2>Finally, after obtaining his degree in Child Health Neurodevelopment in 2018, Dr Lamula is a practising paediatrician based at Life Hilton and St Anne's in Pietermaritzburg. From here he offers his expertise to a range of general paediatric problems with a particular interest in paediatric learning and attention problems such as Autism, ADD and ADHD as well as asthma and other respiratory conditions.</h2></p>
      </div>